@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background: linear-gradient($blue-200, $purple-200);
}

code {
  background-color: $gray-300;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

#app-area {
  height: 75vh;
}

#preview-area {
  min-height: 60%;
}

#preview {
  @extend .bg-light;
}

img {
  width: 20%;
}

#title {
  font-size: 45px;
}
